@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list::-webkit-scrollbar {
    width: 8px;
    display: block;
    background-color: rgba(20, 20, 20, 0.062);
    border-radius: 5px;
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: rgba(231, 44, 244, 0.705);
    border-radius: 5px;
}